@model PortLog.RefServPortLog.DtoImportacion

<form action="/Importacion/Create" method="post" class="col-md-6">
    <h4>Crear nueva importación</h4>
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-2">Fecha ingreso:</label>
            <div class="col-md-10">
                <input type="date" name="fechaIngreso" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Fecha Salida:</label>
            <div class="col-md-10">
                <input type="date" name="fechaSalidaPrevista" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Cod producto:</label>
            <div class="col-md-10">
                <input type="text" name="cod" readonly class="form-control" value="@Model.Producto.cod" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Cantidad unidades:</label>
            <div class="col-md-10">
                <input type="number" min="1" name="cantidad" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Precio unitario:</label>
            <div class="col-md-10">
                <input type="number" min="1" name="precio" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Agregar" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>


<div class="col-md-6">
    <h4>Datos del producto</h4>
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-md-12">Código: @Model.Producto.cod</label>
        </div>
        <div class="form-group">
            <label class="col-md-12">Nombre: @Model.Producto.Nombre</label>
        </div>
        <div class="form-group">
            <label class="col-md-12">Peso: @Model.Producto.Peso</label>
        </div>

        <div class="form-group">
            <label class="col-md-12">RUT: @Model.Producto.Rut</label>
        </div>

    </div>
</div>

